
scrapy/yelp_scrapy/error_log.txt

scrapy/yelp_scrapy/info_log.txt

spark/.ipynb_checkpoints

spark/metastore_db

spark/derby.log

spark/target/*
spark/data/yelp_dataset_challenge_academic_dataset.tar

*.pyc

scrapy/yelp_scrapy/yelp_scrapy/data/*

